<div  >
    <div class="manage-button-container">
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.manage({})" ng-if="viewOnly != true">Choose</button>
    </div>
    <div ba-panel ba-panel-title="Selected {{pageName}}" ba-panel-class="with-scroll">

        <div class="horizontal-scroll">
            <table class="table" st-table="vm.smartTableData" ng-class="{'table-striped': viewOnly == true}" >
                <thead>
                <tr ng-if="!isSortable" class="sortable ">
                    <th st-sort="{{header.key}}" ng-repeat="header in vm.smartTableStructure track by $index" ng-if="header.showInTable">{{::header.name}}</th>
                <tr ng-if="isSortable" class="">
                    <th ng-repeat="header in vm.smartTableStructure track by $index" ng-if="header.showInTable">{{::header.name}}</th>
                </tr>
                </thead>
                <tbody ui-sortable is-sortable=isSortable ng-model="vm.smartTableData">
                    <tr ng-model="vm.smartTableData" ng-repeat="itemRow in vm.smartTableData">
                        <td ng-repeat="(key,value) in vm.smartTableStructure track by $index"
                            language-align="{{::itemRow[value['key']]}}"
                            ng-class="{'table-id':$index==0,'table-object':itemRow[value['key']].name}"
                            ng-click="!!itemRow[value['key']].name && vm.runFunction('showMore',itemRow[value['key']]);"
                            ng-if="value.showInTable && value.key != 'actions'">
                            {{::vm.runFunction('parseSmartTableColumnData',itemRow,value)}}
                        </td>
                        <td ng-if="vm.smartTableStructure[vm.smartTableStructure.length-1].buttons">
                          <span data-ng-switch on="vm.smartTableStructure[vm.smartTableStructure.length-1].buttons.length<4">
                            
                                <span data-ng-switch-when="true">
                                    <input  ng-repeat="action in vm.smartTableStructure[vm.smartTableStructure.length-1].buttons track by $index"
                                            bs-switch
                                            ng-if="action.showAs == 'switch'"
                                            ng-model="itemRow.selected"
                                            switch-size="mini"
                                            ng-change="vm.toggleItem(itemRow,itemRow.selected)"
                                            type="checkbox">
                                    <button 
                                            ng-if="!action.showAs"
                                            ng-repeat="action in vm.smartTableStructure[vm.smartTableStructure.length-1].buttons track by $index"
                                            class="btn editable-table-button btn-xs {{action.class}}"
                                            ng-click="vm.runFunction(action.functionName,itemRow,$parent.$parent.$index);">
                                            {{::action.name}}
                                    </button>
                                </span>

                                <div data-ng-switch-when="false" >
                                  <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                    <button type="button" class="btn btn-primary">Actions</button>
                                    <button type="button" class="btn btn-primary " uib-dropdown-toggle>
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul uib-dropdown-menu>
                                      <li>
                                        <a  href
                                            ng-repeat="action in vm.smartTableStructure[vm.smartTableStructure.length-1].buttons track by $index"
                                            ng-click="vm.runFunction(action.functionName,itemRow,$parent.$index)">
                                            {{::action.name}}
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                
                          </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

