<div class="modal-content" id="set-category-hot-key">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i>
        <span>Please enter a HotKey to the selected category</span>
    </div>
    <!--<div class="modal-body text-center">Every selected category must have a HotKey</div>-->
    <div class="form-group row clearfix">
        <div class="col-sm-12">
            <input type="text" class="form-control" id="inputHotKey" focus-me placeholder="" value="" ng-model="categoryHotKey">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="save()">{{!!categoryHotKey ? 'Ok' : 'Continue without hotkey'}}</button>
        <button type="button" class="btn btn-info" ng-click="$dismiss()">Cancel</button>
    </div>
</div>
