<div class="row annotation-type btn-raised" 
	ng-class="{
				'disabled':defCtrl.definitionDetails.fromParentLayer,
				'childCategory':defCtrl.definitionDetails.parent != null
			}">
    <span class="definition-color" id="definition-color-{{defCtrl.definitionId}}"></span>
    <button class="text-wrapper" 
		ng-disabled="defCtrl.definitionDetails.fromParentLayer"
    	ng-click="defCtrl.highLightSelectedWords(defCtrl.definitionDetails.backgroundColor)">
        <span class="text">{{defCtrl.definitionDetails.name}} ({{defCtrl.definitionDetails.abbreviation}})</span>
    </button>
    <span class="category-info" ng-click="defCtrl.showCategoryInfo($index)"><i class="ion-information"></i></span>
</div>

