<div class="row annotation-type btn-raised"
    title="{{defCtrl.definitionDetails.tooltip}}"
	ng-class="{
				'disabled':defCtrl.definitionDetails.fromParentLayer,
				'childCategory':defCtrl.definitionDetails.parent != null,
                'forbid-any-child': defCtrl.definitionDetails.forbidAnyChild
			}">
	    <span class="definition-color" id="definition-color-{{defCtrl.definitionId}}" ng-style="{'color': defCtrl.definitionDetails.color}">{{!defCtrl.definitionDetails.fromParentLayer ? defCtrl.definitionDetails.shortcut_key : ""}}</span>
	    <!-- <span class="text" ng-style="{'color': defCtrl.definitionDetails.color}">{{defCtrl.definitionDetails.shortcut_key}}</span>
	    <!--  </span> -->
	    <button class="text-wrapper"
			ng-disabled="defCtrl.definitionDetails.fromParentLayer"
	    	ng-click="defCtrl.highLightSelectedWords(defCtrl.definitionDetails.backgroundColor)">
	        <span class="text">
	            {{defCtrl.definitionDetails.name}} {{!!defCtrl.definitionDetails.abbreviation ? "(" + defCtrl.definitionDetails.abbreviation + ")" : ""}}
	            <!-- <b ng-if="defCtrl.definitionDetails.shortcut_key">[ {{defCtrl.definitionDetails.shortcut_key}} ]</b> -->
	        </span>
	        
	    </button>
	    <span class="category-info" ng-click="defCtrl.showCategoryInfo($index)"><i class="ion-information"></i></span>

</div>
