<div class="tokenization-page row">
	<div class="col-md-12">
	    <div ba-panel="" ba-panel-title="" ba-panel-class="medium-large-panel light-text" >
	        <div class="panel-heading clearfix tokenization-panel-header">
	            <div class="button-container">
	                <button type="button" class="btn btn-default btn-raised" ng-click="vm.saveChanges()">Save</button>
	                <button type="button" class="btn btn-default btn-raised" ng-click="vm.initText()">Discard</button>
	            </div>
	        </div>
	        <div  ucca-tokenizer passage-text="vm.passageText" tokenized-text="vm.tokenizedText" text-tokens="vm.textTokens" class="panel-body text-container">
	            <div highlight-original-token original-text="vm.originalText" saved-tokens="vm.textTokens" placeholder="Default Input" class="large-panel form-control tokenization-text" id="textarea-tokenizer" contenteditable="true" restrict-keys-tokenizer>{{vm.tokenizedText}}</div>
				<!--<textarea id="textarea-tokenizer" ng-model="vm.tokenizedText" class="form-control col-xs-12 large-text" restrict-keys-tokenizer></textarea>-->
	        </div>
	    </div>

		<div class="col-xs-6 panel-body">
			<h5>textTokens json</h5>
			<h6>Models of tokens</h6>
			<div>
				The model is created by the gui and it is duplicating the python code.
				The property of require_annotation will be added by the python code upon saving since js can't handle it well.
			</div>
			<pre>{{vm.textTokens | json}}</pre>
		</div>
		<div class="col-xs-6 panel-body">
			<h5>Sent</h5>
			<h6>Object of task</h6>
			<div>
				This model represent the task object that is sent to the server.
			</div>
			<pre>{{vm.tokenizationTask | json}}</pre>
		</div>
	</div>
</div>