<div>
    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.editRow({})" ng-if="vm.projectRootLayerType">New Tokenization Task</button>
	<button type="button" class="btn btn-sm btn-primary" ng-click="vm.editRow({})" ng-if="vm.projectDerivedLayerType">New Annotation Task</button>
</div>
<div
    ba-panel
    ba-panel-title="Search Form {{vm.projectId ? 'PROJECT ID#'+vm.projectId : ''}}"
    ba-panel-class="with-scroll">
  <div ng-include="'app/pages/form/layouts/widgets/search.html'"></div>
</div>
<div class="row">
    <div class="col-md-12">
    	<div ba-panel ba-panel-title="Project {{ 'ID#'+vm.projectId }} Task Table" ba-panel-class="with-scroll">
            <button class="btn btn-primary" style="position: absolute;right: 20px;" ng-click="vm.search([{'key':'is_demo','value':true}])">Demo Tasks Only</button>
    		<div include-with-scope="app/pages/tables/widgets/smartTable.html"></div>
    	</div>
    </div>
</div>
