<a id="unit-{{dirCtrl.treeId}}_anchor" style="display: none;">Anchor</a>
<div class="directive-container" ng-class="{'remote-unit':vm.dataBlock.unitType == 'REMOTE' || vm.dataBlock.unitType == 'IMPLICIT','selected-unit': dirCtrl.treeId == '0' || vm.unitIsSelected(vm)}" id="unit-{{dirCtrl.treeId}}" ng-mousedown="vm.toggleMouseUpDown($event)" ng-mouseup="vm.toggleMouseUp($event)" ng-click="vm.unitClicked(vm,dirCtrl.treeId,$event)" title="{{vm.dataBlock.categoriesTooltip}}">
    <div ng-show="vm.dataBlock.tree_id !== '0' && vm.dataBlock.AnnotationUnits.length " class="expand-btn" ng-click="vm.toggleAnnotationUnitView(vm);" ng-if="vm.dataBlock.unitType === 'REGULAR'">

        <i ng-class="{'minus-round':vm.dataBlock.gui_status=='OPEN',
            'plus-round':vm.dataBlock.gui_status=='COLLAPSE'}"
        >
        </i>
    </div>
    <span class="unit-id" ng-if="vm.dataBlock.tree_id !== '0'">{{dirCtrl.treeId}}</span>
    <unit-category ng-repeat="category in vm.unit.categories" ng-if="!category.fromParentLayer || showParents" color="category.backgroundColor" category-id="category.id" abbreviation="category.abbreviation" name="category.name" from-parent-layer="category.fromParentLayer"></unit-category>
    <unit-cursor unit-id="dirCtrl.treeId"></unit-cursor>
    <div class="row control-buttons-container" ng-class="{'ltr': dirCtrl.direction === 'ltr', 'rtl': dirCtrl.direction === 'rtl'}" ng-show="dirCtrl.treeId != 0">
        <span ng-if="vm.dataBlock.unitType == 'REGULAR'">
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Finish" ng-click="vm.checkRestrictionForCurrentUnit(dirCtrl.treeId,$event)">
                <b class="unit-buttons">F</b>
            </a>
        </span>
        <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Delete">
            <i class="fa fa-times delete-btn unit-buttons" aria-hidden="true"  ng-click="vm.deleteUnit(dirCtrl.treeId,vm)"></i>
        </a>
        <span ng-if="vm.dataBlock.unitType == 'REGULAR'">
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Comment" ng-click="vm.addCommentToUnit(dirCtrl.treeId,vm);">
                <i class="socicon unit-buttons">}</i>
                <span class="comment-notification" ng-if="dirCtrl.dataBlock.comment !=''">!</span>
            </a>
            <span ng-if="vm.showClusterButton">
                <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Cluster" ng-click="vm.addClusterToUnit(dirCtrl.treeId,vm);">
                  <i class="socicon unit-buttons">}</i>
                  <span class="comment-notification" ng-if="dirCtrl.dataBlock.cluster !=''">!</span>
                </a>
            </span>
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Add Remote Unit">
                <i class="ion-plus-round unit-buttons" ng-click="vm.switchToRemoteMode(vm,$event)"></i>
            </a>
        </span>

    </div>
    <annotation-token  unit-tree-id="{{dirCtrl.treeId}}" token=token ng-repeat="token in dirCtrl.tokens track by $index"></annotation-token>
</div>
<div ng-include="'app/pages/annotation/directives/annotationUnit/dataTreeRow.html'" ng-if="vm.dataBlock.AnnotationUnits.length > 0"></div>
