/ucaaApp/__pycache__/*.pyc
/ucaaApp/migrations/__pycache__/*.pyc
/uccaApp/__pycache__
__pycache__
.idea
workspace.xml
settings.cpython-34.pyc
Layers.cpython-34.pyc

*.pyc
env/
local_settings.py
logs/
