<div class="modal-content">
    <div class="modal-header bg-danger">
        <i class="ion-flame modal-icon"></i><span> Error</span>
    </div>
    <div class="modal-body text-center">{{message}}</div>
    <div class="modal-footer">
        <input ng-show="true" ng-keyup="keyUpChanged($event)" id="inputElement" style="{height:1px; width:1px; opacity: 100%; display:none;}">
        <button type="button" id="first" class="btn btn-danger" ng-click="$dismiss()">OK</button> <!--event.keyCode-->
    </div>
</div>