<div class="directive-container" ng-class="{'remote-unit':vm.dataBlock.unitType == 'REMOTE' || vm.dataBlock.unitType == 'IMPLICIT','selected-unit': dirCtrl.annotationUnitTreeId == '0' || vm.unitIsSelected(vm)}" id="unit-{{dirCtrl.annotationUnitTreeId}}" ng-mousedown="vm.toggleMouseUpDown()" ng-mouseup="vm.toggleMouseUpDown()" ng-click="vm.unitClicked(vm,dirCtrl.annotationUnitTreeId)">
    <div ng-show="vm.dataBlock.annotation_unit_tree_id !== '0' && vm.dataBlock.AnnotationUnits.length " class="expand-btn" ng-click="vm.toggleAnnotationUnitView(vm);" ng-if="vm.dataBlock.unitType === 'REGULAR'">

        <i ng-class="{'minus-round':vm.dataBlock.gui_status=='OPEN',
            'plus-round':vm.dataBlock.gui_status=='COLLAPSE'}"
        >
        </i>
    </div>
    <span class="unit-id" ng-if="vm.dataBlock.annotation_unit_tree_id !== '0'">{{dirCtrl.annotationUnitTreeId}}</span>
    <unit-category ng-repeat="category in vm.unit.categories" color="category.backgroundColor" category-id="category.id" abbreviation="category.abbreviation"></unit-category>
    <unit-cursor unit-id="dirCtrl.annotationUnitTreeId"></unit-cursor>
    <div class="row control-buttons-container" ng-show="dirCtrl.annotationUnitTreeId != 0">
        <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Delete">
            <i class="fa fa-times delete-btn unit-buttons" aria-hidden="true"  ng-click="vm.deleteUnit(dirCtrl.annotationUnitTreeId,vm)"></i>
        </a>
        <span ng-if="vm.dataBlock.unitType == 'REGULAR'">
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Finish" ng-click="vm.checkRestrictionForCurrentUnit(dirCtrl.annotationUnitTreeId,$event)">
                <b class="unit-buttons">F</b>
            </a>
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Comment" ng-click="vm.addCommentToUnit(dirCtrl.annotationUnitTreeId,vm);">
                <i class="socicon unit-buttons">}</i>
                <span class="comment-notification" ng-if="dirCtrl.dataBlock.comment !=''">!</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Add Remote Unit">
                <i class="ion-plus-round unit-buttons" ng-click="vm.switchToRemoteMode(vm,$event)"></i>
            </a>
        </span>

    </div>
    <annotation-token  parent-id="{{dirCtrl.annotationUnitTreeId}}" token=token ng-repeat="token in dirCtrl.tokens track by $index"></annotation-token>
</div>
<div ng-repeat="unit in vm.dataBlock.AnnotationUnits" ng-if="vm.dataBlock.AnnotationUnits.length > 0">
    <annotation-units
            class="has-elements"
            ng-class="{'hidden-unit':vm.isUnitHidden(unit),'unit-collapse':vm.isUnitCollaped(vm),'child-unit' :unit != '0'}"
            unit="unit"
            tokens="unit.tokens"
            annotation-unit-tree-id="unit.annotation_unit_tree_id">
    </annotation-units>
</div>


