<div class="categorized-word"  ng-repeat="lineObj in selCtrl.dataBlock.AnnotationUnits" 
    ng-class="{'hidden':lineObj.gui_status=='HIDDEN','closed-annotation-unit':lineObj.gui_status=='COLLAPSE'}">
    <div ng-show="lineObj.AnnotationUnits.length" class="expand-btn" ng-click="selCtrl.toggleAnnotationUnitView($event);" ng-if="lineObj.unitType == 'REGULAR'">
        
        <i ng-class="{'minus-round':lineObj.gui_status=='OPEN', 
            'plus-round':lineObj.gui_status=='COLLAPSE'}" 
            >
        </i>
    </div>
    <annotation-units
            class="has-elements"
            ng-class="{'has-elements': selCtrl.dataBlock.AnnotationUnits.numOfAnnotationUnits > 0,
                        'remote-unit':lineObj.unitType == 'REMOTE' || lineObj.unitType == 'IMPLICIT',
                        'highlight-unit':lineObj.unitType == 'REMOTE' || lineObj.unitType == 'IMPLICIT',
                        'hidden':lineObj.gui_status=='HIDDEN'
                    }"
            preview-line="lineObj.text"
            categories="lineObj.categories"
            control="selCtrl.keyController"
            line-id="lineObj.annotation_unit_tree_id">
    </annotation-units>
</div>