<main class="auth-main">
  <div class="auth-block">
    <h1>Sign up to UCCA App</h1>
    <a ui-sref="auth" class="auth-link">Already have a UCCA App account? Sign in!</a>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-12 control-label">Email :</label>

        <div class="col-sm-12">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="vm.GuestUserDetailes.email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputFisrtName3" class="col-sm-12 control-label">First Name :</label>

        <div class="col-sm-12">
          <input type="text" class="form-control" id="inputFisrtName3" placeholder="First name" ng-model="vm.GuestUserDetailes.first_name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastName3" class="col-sm-12 control-label">Last Name :</label>

        <div class="col-sm-12">
          <input type="text" class="form-control" id="inputLastName3" placeholder="Last Name" ng-model="vm.GuestUserDetailes.last_name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAfflliation3" class="col-sm-12 control-label">Affiliation :</label>

        <div class="col-sm-12">
          <input type="text" class="form-control" id="inputAfflliation3" placeholder="Affiliation" ng-model="vm.GuestUserDetailes.affiliation">
        </div>
      </div>
      <div class="form-group">
        <label for="inputOrganization3" class="col-sm-12 control-label">Organization :</label>

        <div class="col-sm-12">
          <input type="text" class="form-control" id="inputOrganization3" placeholder="Organization" ng-model="vm.GuestUserDetailes.organization">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12 sign-up-btn-container">
          <button type="submit" class="btn btn-default btn-auth" ng-click="vm.register();">Sign up</button>
        </div>
      </div>
    </form>

    <div class="auth-sep"><span><span>or Sign up with one click</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
        <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
        <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
      </ul>
    </div>
  </div>
</main>
