<div class="modal-header">
    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Diagnostics</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <input type="checkbox" ng-model="vm.trace"/>
            <label>Function Trace</label>
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="vm.validations"/>
            <label>Validations</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="modal-buttons">
        <button class="btn btn-primary" ng-click="vm.save()">Save</button>
        <button class="btn btn-primary" ng-click="vm.close()">Cancel</button>
    </div>
</div>
