<div class="annotation-page-container" style="display:flex; height: 100%; position: relative;">
    <div ng-class="{'no-events': vm.inRemoteMode()}" style="width:17%; overflow-y: auto; overflow-x: hidden; height: 100%; padding-bottom: 15px;   text-overflow: ellipsis; white-space: nowrap;">
	    <div class="categories-container">
        	<div ng-repeat="parentCategory in vm.categories | filter: fromParentLayer  track by vm.categories.indexOf(parentCategory)">
            	<categories-directive  ng-show="showParents" definition-details="parentCategory" definition-id="vm.categories.indexOf(parentCategory)"></categories-directive>
	    	</div>
	    </div>
	    <div class="categories-container">
	    	<table width="100%">
	        	<col style="width: 10%" />
	        	<col />
			<!-- the "orderBy: ... as sortedCategories" is needed for the number keys to work, as the number key will select an index from sortedCategories -->
	        	<tr ng-repeat="category in vm.categories | filter: notFromParentLayer | orderBy: sortByPrototypes as sortedCategories track by vm.categories.indexOf(category)">
		        	<td>
		        		<span class="text" ng-show="!category.fromParentLayer && $index <= 8">{{$index+1}}: </span>
		        	</td>
		        	<td>
		        		<categories-directive definition-details="category" definition-id="vm.categories.indexOf(category)"></categories-directive>
		        	</td>
	        	</tr>
	        </table>
	    </div>
        <div class="utility-buttons-container">
            <utility-buttons-directive ng-repeat="definition in vm.definitions track by $index" definition-details="definition" definition-id="$index"></utility-buttons-directive>
        </div>
    </div>
    <div style="width:100%; overflow: auto; height: 100%; padding-left: 15px; padding-right: 10px;" class="main-body">
        <div class="nav-bar-container">
            <nav-bar-item ng-repeat="item in vm.navBarItems track by $index" tool-tip="item.tooltip" item-object="item"></nav-bar-item>
            <div class="available-font-sizes">
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                  <button type="button" class="btn btn-primary " uib-dropdown-toggle>
                    Font Size <span class="caret"></span>
                  </button>
                  <ul uib-dropdown-menu>
                    <li ng-repeat="fz in vm.fontSizes" ng-click="vm.setFontSize(fz)" ><a href>{{::fz.preview}}</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 manager-comment-container alert bg-info closeable" ng-show="!vm.showManagerComment">
           <div class="title-and-close-container">
               <span class="title manager_comment">{{vm.tokenizationTask.manager_comment}}</span>
               <i class="ion-close-round" id="hide-manager-comment"  ng-click="vm.showManagerComment = !vm.showManagerComment"></i>
           </div>
        </div>

        <!-- passage -->
        <annotation-unit
                class="has-elements"
                unit="vm.dataTree"
                tokens="vm.annotationTokens"
                tree-id="0">
        </annotation-unit>
    </div>

    <div id="preloader" ng-show="vm.savingTask || vm.submittingTask" ng-class="{'connected':$connected}">
        <div></div>
    </div>
</div>
