<div class="categorized-word"  ng-repeat="lineObj in selCtrl.dataBlock.Rows" >
        <div class="expand-btn" ng-click="selCtrl.toggleAnnotationUnitView($event);" ng-if="lineObj.unitType == 'REGULAR'">
            <!-- <i ng-class="{'ion-minus-round':!selCtrl.unitIsCollapsed, 'ion-plus-round':selCtrl.unitIsCollapsed}"></i> -->
            <i class='ion-plus-round'></i>
        </div>
        <selected-tokens
                class="has-elements"
                ng-class="{'has-elements': selCtrl.dataBlock.Rows.numOfRows > 0,'remote-unit':lineObj.unitType == 'REMOTE' || lineObj.unitType == 'IMPLICIT','highlight-unit':lineObj.unitType == 'REMOTE' || lineObj.unitType == 'IMPLICIT' }"
                preview-line="lineObj.text"
                categories="lineObj.categories"
                control="selCtrl.keyController"
                line-id="lineObj.annotation_unit_tree_id">
        </selected-tokens>
    </div>