<div class="directive-container">


    <div class="directive-info-data-container" id="directive-info-data-container-{{selCtrl.lineId}}">
        <div class="row control-buttons-container" ng-show="selCtrl.lineId != 0">
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Delete"><i class="fa fa-times delete-btn unit-buttons" aria-hidden="true"  ng-click="selCtrl.removeRow(selCtrl.lineId,$event)"></i></a>
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Finish"><i class="socicon unit-buttons">b</i></a>
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Comment" ng-click="selCtrl.open('app/pages/annotation/templates/commentOnUnitModal.html','sm')">
                <i class="socicon unit-buttons">}</i>
                <span class="comment-notification" ng-if="selCtrl.dataBlock.comment !=''">!</span>
            </a>
            <a data-toggle="tooltip" data-placement="top" class="unit-control-btn" title="Delete"><i class="ion-plus-round unit-buttons" ng-click="selCtrl.switchToRemoteMode($event)"></i></a>

        </div>
        <span class="categories" ng-repeat="cat in selCtrl.dataBlock.categories">
            <span class="square-color" ng-style="{'background-color':cat.color}"></span>
            <span class="category-abbreviation">{{cat.abbreviation}}</span>
        </span>
        <div class="text-wrapper">
            <div class="text" id="row-{{selCtrl.lineId}}" >
                <span class="cursor" id="cursor-{{selCtrl.lineId}}">| </span>
            </div>
        </div>
    </div>

    <div ng-include="'app/pages/annotation/directives/selectedTokens/dataTreeRow.html'" ng-if="selCtrl.lineId != '0'"></div>


</div>
