.manage-button-container{
  text-align: right;
  padding-right: 30px;
  margin-bottom: 15px;
}

.restrictions-main-categories-container{
  margin-bottom: 20px;
  button {
    margin-left: 20px;
  }
}

pre {
    white-space: pre-line;
}