.no-user-selection {
	user-select:none;
}

#set-category-hot-key{
	.row{
		margin: 0 0 15px 0;
	}
}

#html-content-modal{
	.modal-body{
		padding: 15px;
	}
}

.button-container{
	margin-top: 10px;
}

.ui-sortable-helper{
	border: 2px solid black;
	background-color: white;
}

.pannel-toggler {
    float: right;
    cursor: pointer;
}

.add-asset-btn-container{
	z-index: 1;
	position: absolute;
	top: 7px;
	right: 55px;
}

.filter-demo-tasks-button{
	position: absolute;
    right: 50px;
    top: 5px;
}

.edit-container {
    max-height: 750px;
    overflow-y: auto;
}
.edit-container pre {
    overflow-y: auto;
    max-height: 200px;
}
