
<div class="">



    <div class="row ucca-reg-header">
        <div class="col-md-6">
            <a href="http://www.cs.huji.ac.il/" target="_blank">
                <img src="http://www.cs.huji.ac.il/imagesl/cse_banner.jpg" style="max-width: 100%;" align="left"/>
            </a>

        </div>
        <div class="col-md-6 visible-lg-*">
            <div class="visible-lg-*">
                <a href="http://new.huji.ac.il/en" target="_blank">
                    <img src="http://www.cs.huji.ac.il/imagesl/huji_banner.png" style="padding-top:7px" style="max-width: 100%;" align="right"/>
                </a>
            </div>
        </div>
    </div>


    <!-- <nav class="navbar navbar-default">
        <div class="container-fluid bg-primary" >
            <div class="navbar-header">
                <a href="#" class="navbar-brand" style="color:#fff">UCCA</a></div>
        </div>
    </nav> -->


    <div class="container">


        <div class="row auth-main" style="min-height: 400px;">
            <div class="auth-block"> 
              <h1>Sign in to UCCA App</h1>
              <a ui-sref="reg" class="auth-link">New to UCCA App? Sign up!</a>
              <form class="form-horizontal" id="login-form" name="vm.loginDetails" novalidate>

                <div class="form-group" ng-class="{'has-error': vm.loginDetails.email.$invalid && (vm.loginDetails.email.$dirty || vm.loginDetails.$submitted)}" style="">
                  <label for="exampleInputEmail1" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" ng-model="vm.personalInfo.email" ng-init="vm.personalInfo.email=''" required style="">
                    <span class="help-block error-block basic-block">Proper email required</span>
                  </div>
                </div>

                <div class="form-group" ng-class="{'has-error': vm.loginDetails.password.$invalid && (vm.loginDetails.password.$dirty || vm.loginDetails.$submitted)}" style="">
                  <label for="exampleInputEmail1" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" ng-model="vm.personalInfo.password" ng-init="vm.personalInfo.password=''" required style="">
                    <span class="help-block error-block basic-block">Proper email required</span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-auth" ng-click="vm.login();">Sign in</button>
                    <a href class="forgot-pass" ng-click="vm.forgotPassword()">Forgot password?</a>
                  </div>
                </div>
              </form>
            </div>
        </div>


        <div class="row details" style="line-height: 30px;font-size:20px;">

            <div class="col-md-12">
                <div>
                  <!-- <h1>The UCCA Project</h1> -->
                  <p>UCCAApp is an open-source, flexible web-application for syntactic and semantic phrase-based annotation in general, and for UCCA annotation in particular. UCCAApp supports a variety of formal properties that have proven useful for syntactic and semantic representation, such as discontiguous phrases, multiple parents and empty elements, making it useful to a variety of other annotation schemes with similar formal properties. UCCAApp’s user interface is intuitive and simple, so as to support annotation by users with no background in linguistics or formal representation. Indeed, a pilot version of the application has been successfully used in the compilation of the UCCA Wikipedia treebank by annotators with no previous linguistic training.</p>

                  
                  <ul style='color: orange;'><li>
                      UCCAApp is undergoing final stages of development. A stable, pilot version
                      of the application (albeit a more stable one) can be found <a href="http://ucca.cs.huji.ac.il" target="_blank">here</a>. Sign in with user: guest and password tseug.
                    </li>
                    <li>
                      All UCCA's resources are available <a href="http://www.cs.huji.ac.il/~oabend/ucca.html" title="resources" target="_blank">here</a>‏.
                    </li>
                    <li>
                      The code repository can be found <a href="https://github.com/omriabnd/UCCA-App" target="_blank">here</a>. </li>
                  </ul>
                </div>
                <div>
                    <br>
                    <h2>About UCCA</h2>
                    <br>
                    <p>UCCA (Universal Conceptual Cognitive Annotation) (Abend and Rappoport, 2013) is a cross-linguistically applicable scheme for semantic annotation. Formally, an UCCA structure is a directed acyclic graph (DAG), whose leaves correspond to the words of the text. The graph&rsquo;s nodes, called units, are either terminals or several elements jointly viewed as a single entity according to some semantic or cognitive consideration. Edges bear a category, indicating the role of the sub-unit in the structure the unit represents. UCCA&rsquo;s basic inventory of distinctions (its foundational layer) focuses on argument structures (adjectival, nominal, verbal and others) and relations between them. The most basic notion is the Scene, which describes a movement, an action or a state which persists in time. Each Scene contains one main relation and zero or more participants. </p>

                    <p>For example, the sentence &ldquo;After graduation, Tom moved to America&rdquo; (see figure) contains two Scenes, whose main relations are &ldquo;graduation&rdquo; and &ldquo;moved&rdquo;. The participant &ldquo;Tom&rdquo; is a part of both Scenes, while &ldquo;America&rdquo; only of the latter. Further categories account for inter-scene relations and the sub-structures of participants and relations. </p>

                    <p>UCCA is supported by extensive typological cross-linguistic evidence and accords with the leading Cognitive Linguistics theories. We build primarily on Basic Linguistic Theory (BLT) (Dixon, 2005; 2010a; 2010b; 2012), a typological approach to grammar successfully used for the description of a wide variety of languages. BLT uses semantic similarity as its main criterion for categorizing constructions both within and across languages. UCCA takes a similar approach, thereby creating a set of distinctions that is motivated cross-linguistically.</p>

                    <p>
                    <h3>
                    References
                    </h3>
                    <ul>
                    <li>
                      Omri Abend and Ari Rappoport. 2013. Universal conceptual cognitive annotation (UCCA). In ACL 2013, pages 228&ndash;238.
                    </li>
                    <li>
                      Robert M. W. Dixon. 2005. A Semantic Approach To English Grammar. Oxford University Press.  
                    </li>
                    <li>
                      Robert M. W. Dixon. 2010a. Basic Linguistic Theory: Methodology, volume 1. Oxford University Press. 
                    </li>
                    <li>
                      Robert M. W. Dixon. 2010b. Basic Linguistic Theory: Grammatical Topics, volume 2. Oxford University Press.
                    </li>
                    <li>
                      Robert M. W. Dixon. 2012. Basic Linguistic Theory: Further Grammatical Topics, volume 3. Oxford University Press.
                    </li>
                    </ul>     </p>
                </div>

                <div>
                    <br>
                    <h2>Contact Us</h2>
                    <br>
                    <p>With any questions, please contact:</p>

                    <p>
                        <a href="http://www.cs.huji.ac.il/~oabend/" target="_blank">Omri Abend</a><br/>
                        School of Computer Science and Engineering<br/>
                        The Hebrew University of Jerusalem <br/>
                        e-mail: oabend at cs dot huji dot ac dot
                    </p>
                </div>




            </div>
        </div>

    </div>

</div>


