<main class="auth-main">
  <div class="auth-block">
    <h1>Sign in to UCCA Admin</h1>
    <a ui-sref="reg" class="auth-link">New to UCCA Admin? Sign up!</a>

    <form class="form-horizontal" id="login-form" name="vm.loginDetails" novalidate>

      <div class="form-group" ng-class="{'has-error': vm.loginDetails.email.$invalid && (vm.loginDetails.email.$dirty || vm.loginDetails.$submitted)}" style="">
        <label for="exampleInputEmail1" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" ng-model="vm.personalInfo.email" ng-init="vm.personalInfo.email='yarin@zigit.co.il'" required style="">
          <span class="help-block error-block basic-block">Proper email required</span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': vm.loginDetails.password.$invalid && (vm.loginDetails.password.$dirty || vm.loginDetails.$submitted)}" style="">
        <label for="exampleInputEmail1" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" ng-model="vm.personalInfo.password" ng-init="vm.personalInfo.password='Zigit1346!'" required style="">
          <span class="help-block error-block basic-block">Proper email required</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-auth" ng-click="vm.login();">Sign in</button>
          <a href class="forgot-pass" ng-click="vm.forgotPassword()">Forgot password?</a>
        </div>
      </div>
    </form>

  </div>
</main>
